* {
    box-sizing: border-box;
}

@font-face {
    font-family: "rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "rubik" ,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background: #FFFFFF;
    color: #000000;
    
    margin: 0;
}

.visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    flex-grow: 1;
}
/* body ul {
    list-style-type:none
} */

.text-color-dark {
    color: #444444;
}

.text-decoration {
    text-decoration: none;
    color: #000000;
}
/* header  */
.page-header {
    background: #FFE17F;
    width: 1160px;
    margin: 0 auto;
}

.header-container {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.header-flex  {
    display: flex;
}

.search-product {
    width: 520px;
}

.navigation {
    width: 520px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button {
    font-family: "rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.catalog-items  {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    letter-spacing: 0.2em;
    width: 520px;
}

.advantages-information {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    letter-spacing: 0.2em;
    width: 520px;
    margin: 0;
    padding: 0;
}
/* page-main */

.product-flex {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.about-product {
    width: 560px;
}

.gallery {
    width: 560px;
    margin-right: 40px;
}

.title-product, .buying-title, .about-us-title, .about-title, .title-catalog, .appointment-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.detail-product {
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.feature-product-distance {
    font-size: 36px;
}

.feature-product-item {
    font-size: 16px;
}

.products-sections {
    width: 1160px;
    margin: 0 auto;
}

.product-sections-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.product-sections-item {
    width: 160px;
    list-style-type: none;
}

.product-sections-link {
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
    display: block;
}

.product-sections-title {
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    font-size: 18px;
    font-weight: 800;
}

.about-buying {
    background-color: #F0F0F0;
}

.buying-container {
    width: 1160px;
    display: flex;
    margin: 0 auto;
}

.buying-list {
    width: 280px;
    margin: 0;
    padding: 0;
}

.buying-item {
    list-style-type: none;
}

.buying-link {
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: #FFE17F;
}

.buying-active {
    background-color: #000000;
    width: 280px;
    height: 40px;
}

.product-order {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.text-order {
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.contacts-subtitle {
    font-weight: 700;
    font-size: 24px;    
}

.appointment-flex {
    display: flex;
}

.appointment-form-flex {
    display: flex;
}

.appointment {
    background-color: #F0F0F0;
;
}

.appointment-container {
    width: 1160px;
    margin: 0 auto;
        
}

.text-order {
    background: #F0F0F0;

}

.about-flex {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.about-us-companies {
    font-weight: 700;
    line-height: 20px;
}

.contacts-phone {
    font-style: normal;
}

/* catalog-main */

.catalog-header {
    width: 1160px;
    margin: 0 auto;
}

.catalog-breadcrumbs-list {
    display: flex;
}



/* footer */

.page-footer {
    background: #444444;
    color: #FFFFFF;
}

.footer-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.footer-info-list, .footer-social-list {
    display: flex;
}

.footer-info-link {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 21px;
    text-transform: uppercase;
}

.footer-address {
    font-size: 16px;
    line-height: 20px;
}

.contacts-phone {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

/* catalog */

.catalog-cointainer {
    width: 840px;
}

.catalog-breadcrumbs-link {
    color:#000000 ;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
}

.filter-text {
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.select-control {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 30px;
}

.catalog-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

}

.control {
    font-size: 16px;
    line-height: 19px;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    font-weight: normal;
    color: #444444;
}


.catalog-products {
    background: #F0F0F0;
}

.catalog-products-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.product-list {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.pagination {
    background: #EBEBEB;
}

.pagination-show-more {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.product-link {
    text-decoration: none;
    color: #000000;
}

.pagination-prev {
    font-family: 'Raleway';
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    align-items: center;   
    text-transform: uppercase;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #444444;
}



